body{
    font-family: 'Rubik', sans-serif;
}
span{
    color: coral;
}
h1{
    font-size: 55px;
}
section{
    display: flex;
}
section{
    padding-left: 30px; 
    padding-top: 50px;
    padding-right: 30px;
}
p{
    text-align: justify;
}
.hafe{
    width: 50%;
}
.hafe img{
    width: 80%;
    padding-left: 100px;
}
.link-batton{
    text-decoration: none;
    background-color: coral;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
     color: rgb(255, 255, 255); 

}
.top-bag{
    background-image: url(banner.png);
    background-repeat: no-repeat;
}
 
section{
    margin-bottom: 145px;
    
}
.top{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   
}

.h2cang{
font-size: 50px}